.idea
.vscode
.devcontainer
*/.DS_Store
static/uploadfile
main.exe
*.exe
dilu
dilu.exe
temp/
!temp
vendor
*/.DS_Store
**/**.log

# go sum
go.sum
resources/config.local.yaml
resources/config.help.yaml
